<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body> 
  <% for(var i in messages) { %>
  <div class="flash">
    <%= messages[i] %>
  </div>
  <% } %>
  <form action="/signin" method="post">
    <input type="text" name="username" placeholder="Email">
    <input type="text" name="password" placeholder="Password">
    <input type="submit" value="enter">
  </form>
</body>
</html>